<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zhsoft.fretting">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon">
        <!--主界面-->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--启动页-->
        <activity
            android:name=".ui.activity.boot.StartActivity"
            android:theme="@style/NoTitle_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--引导页-->
        <activity android:name=".ui.activity.boot.WelcomeActivity"></activity>
        <!--注册页-->
        <activity android:name=".ui.activity.user.RegisterFirstActivity"></activity>
        <!--设置交易密码页-->
        <activity android:name=".ui.activity.user.SetTradePwdActivity"></activity>
        <!--设置-->
        <activity android:name=".ui.activity.user.SettingActivity"></activity>
        <!--个人信息-->
        <activity android:name=".ui.activity.user.PersonInfoActivity"></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>