<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zhsoft.fretting">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon">

        <!--主界面-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <!--启动页-->
        <activity
            android:name=".ui.activity.boot.StartActivity"
            android:theme="@style/NoTitle_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--引导页-->
        <activity android:name=".ui.activity.boot.WelcomeActivity"></activity>
        <!--登录页-->
        <activity android:name=".ui.activity.user.LoginActivity"></activity>
        <!--注册第一步 手机号-->
        <activity android:name=".ui.activity.user.RegisterFirstActivity"></activity>
        <!--注册第二步 实名绑卡-->
        <activity android:name=".ui.activity.user.RegisterSecondActivity"></activity>
        <!--注册第三步 设置交易密码页-->
        <activity android:name=".ui.activity.user.RegisterSetTradePwdActivity"></activity>
        <!--注册成功-->
        <activity android:name=".ui.activity.user.RegisterSuccessActivity"></activity>
        <!--设置-->
        <activity android:name=".ui.activity.user.SettingActivity"></activity>
        <!--个人信息-->
        <activity android:name=".ui.activity.user.PersonInfoActivity"></activity>
        <!--变更手机号 信息页-->
        <activity android:name=".ui.activity.user.PhoneActivity"></activity>
        <!--变更手机号 更改页-->
        <activity android:name=".ui.activity.user.PhoneChangeActivity"></activity>
        <!--变更密码-->
        <activity android:name=".ui.activity.user.ChangePwdActivity"></activity>
        <!--变更登录密码-->
        <activity android:name=".ui.activity.user.ChangeLoginPwdActivity"></activity>
        <!--变更交易密码-->
        <activity android:name=".ui.activity.user.ChangeTradePwdActivity"></activity>
        <!--找回 登录 密码第一步-->
        <activity android:name=".ui.activity.user.FindPwdLoginFirstActivity"></activity>
        <!--找回 登录 密码第二步-->
        <activity android:name=".ui.activity.user.FindPwdLoginSecondActivity"></activity>
        <!--找回 交易 密码第一步-->
        <activity android:name=".ui.activity.user.FindPwdTradeFirstActivity"></activity>
        <!--找回 交易 密码第二步-->
        <activity android:name=".ui.activity.user.FindPwdTradeSecondActivity"></activity>
        <!--我的银行卡-->
        <activity android:name=".ui.activity.user.BankCardActivity"></activity>
        <!--更换绑定银行卡-->
        <activity android:name=".ui.activity.user.BankCardChangeActivity"></activity>
        <!--切换账户-->
        <activity android:name=".ui.activity.user.SwitchAccountActivity"></activity>
        <!--银行列表-->
        <activity android:name=".ui.activity.user.BankListActivity"></activity>
        <!--人气产品 业绩排行-->
        <activity android:name=".ui.activity.index.PopularityActivity"></activity>
        <!--优选定投 定投排行-->
        <activity android:name=".ui.activity.index.TimingActivity"></activity>
        <!--基金购买页-->
        <activity android:name=".ui.activity.fund.BuyActivity"></activity>
        <!--基金购买成功页-->
        <activity android:name=".ui.activity.fund.BuySuccessActivity"></activity>
        <!--基金定投页-->
        <activity android:name=".ui.activity.fund.InvestActivity"></activity>
        <!--基金定投成功页-->
        <activity android:name=".ui.activity.fund.InvestSuccessActivity"></activity>
        <!--搜索页-->
        <activity android:name=".ui.activity.boot.SearchActivity"></activity>
        <!--搜索定投页-->
        <activity android:name=".ui.activity.boot.SearchTimingActivity"></activity>
        <!--基金详情页-->
        <activity android:name=".ui.activity.boot.FundDetailWebActivity"></activity>
        <!--我的定投-->
        <activity android:name=".ui.activity.user.MyInvestActivity"></activity>
        <!--定投计划-->
        <activity android:name=".ui.activity.user.InvestPlanActivity"></activity>
        <!--定投详情-->
        <activity android:name=".ui.activity.user.InvestDeatilActivity"></activity>
        <!--交易详情1-->
        <activity android:name=".ui.activity.user.ResultDetailOneActivity"></activity>
        <!--交易详情2-->
        <activity android:name=".ui.activity.user.ResultDetailTwoActivity"></activity>
        <!--分红方式变更-->
        <activity android:name=".ui.activity.user.BonusChangeActivity"></activity>
        <!--自选基金-->
        <activity android:name=".ui.activity.user.SelfChooseActivity"></activity>
        <!--交易查询-->
        <activity android:name=".ui.activity.user.TransactionQueryActivity"></activity>
        <!--单只基金交易查询-->
        <activity android:name=".ui.activity.user.TransactionQuerySingleActivity"></activity>
        <!--分红方式-->
        <activity android:name=".ui.activity.user.BonusActivity"></activity>
        <!--撤单-->
        <activity android:name=".ui.activity.user.CancleOrderActivity"></activity>
        <!--卖出-->
        <activity android:name=".ui.activity.fund.SellActivity"></activity>
        <!--卖出成功-->
        <activity android:name=".ui.activity.fund.SellSuccessActivity"></activity>

        <!--通用WebView-->
        <activity android:name=".ui.activity.boot.WebPublicActivity"></activity>
        <!--风险测评webview-->
        <activity android:name=".ui.activity.boot.WebRiskActivity"></activity>

    </application>

    <!--权限设置-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>